@tailwind base;
@tailwind components;
@tailwind utilities;

/* base */
body {
  @apply bg-background w-screen ;
}
section{
  @apply  w-screen;
}

p {
  @apply text-text;
}

/* mobile scroll */
.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
/*  */

/* button */
button {
  @apply border border-primary text-primary py-0 px-6 uppercase
  hover:bg-primary hover:text-white;
}

/* main classes */
.title{
  @apply text-black font-bold text-3xl text-center;
}

.small-title{
  @apply text-black font-semibold text-xl;
}

.input{
  @apply bg-white rounded;
}

/* classes */
.search-btn {
  margin-left: -34px;
}

.y-line{
  @apply border mx-10 my-5 border-white h-32 rounded-full opacity-60;
}

.y-icon{
  @apply text-white mx-auto text-3xl my-5 opacity-70
  hover:opacity-100;
}

.scrolled{
  @apply bg-white;
}

